* text=auto eol=lf

# Not part of the distributed package
/.github export-ignore
/benchmarks export-ignore
/demos export-ignore
/docs export-ignore
/tests export-ignore
/.editorconfig export-ignore
/.gitattributes export-ignore
/.gitignore export-ignore
/mago.toml export-ignore
/phpstan.neon export-ignore
/phpunit.xml.dist export-ignore
