parameters:
  level: max
  treatPhpDocTypesAsCertain: false
  ignoreErrors:
    - '#has invalid type Composer\\Script\\Event#'
    - '#Call to function assert\(\) with true#'
    - '#function preg_replace_callback#'
  errorFormat: ticketswap
  editorUrl: 'vscode://open?file=%%file%%&line=%%line%%'
includes:
  - phar://phpstan.phar/conf/bleedingEdge.neon
  - vendor/ticketswap/phpstan-error-formatter/extension.neon
